<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA4SRu-cKeh7eVt9hX5p0YiwCVg71p8POY</string>
	<key>GCM_SENDER_ID</key>
	<string>1024567154769</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.challengeDeliveryFlutter</string>
	<key>PROJECT_ID</key>
	<string>challenge-delivery-36077</string>
	<key>STORAGE_BUCKET</key>
	<string>challenge-delivery-36077.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1024567154769:ios:970a338e64269dc010c070</string>
</dict>
</plist>